<h3>Http client</h3>

<div class="row">
    <div class="col-md-9">
        <p>El http Client es un modulo que pertenece a angular/common y es el encargado de generar peticiones http a donde nosotros necesitemos.</p>
        <br>
        <p>Los metodos que podemos usar de la libreria son:</p>
        <br>
        <ul>
            <li><strong>GET:</strong> Sirve para hacer solicitud de datos.</li>
            <li><strong>POST: </strong>Sirve para mandar una peticion con un cuerpo para crear un nuevo elemento.</li>
            <li><strong>PUT: </strong>Sirve para mandar una peticion con un cuerpo para actualizar un elemento.</li>
            <li><strong>DELETE: </strong> Sirve para indicarle a nuestro servidor que queremos borrar un dato.</li>
        </ul>
    </div>


</div>