<h2>Ciclo de vida de un componente</h2>
<div class="row">
    <p>Los ciclos de vida de los componentes son eventos que ocurren durante la creacion/invocacion de nuestro componente, donde va a pasar por una construccion para luego inicializarse, luego estar constantemente renderizando y por ultimo morir.</p>
    <br>
    <p>Nosotros podemos trabajar en puntos especificos del ciclo de vida a partir de unos metodos llamados hook.</p>
    <div class="container">
        <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/0*wEGNC-p9kA91tb8K.png">

    </div>
</div>