<h3>Services</h3>
<div class="row">
    <div class="col-md-9">
        <p>Los services son aquellas clases o directamente herramientas que tienen como objetivo principal ser el proveedor, gestor y/o modificadores de nuestros datos. Los services se destacan porque tienen el terminal .service </p>
        <br>
        <p>
            De manera general, su uso mas comun es comunicarse con API's o webservice sirve paran obtener, modificar, crear o eliminar informacion que este en un servidor.
        </p>

    </div>
    <div class="col-md-3">
        <h4>Ejemplo:</h4>
        <strong>Mira el ejemplo en shared/services</strong>
    </div>
</div>