<div class="row py-5 px-3">

    <div class="col-md-3">
        <div class="mb-3">
            <label for="filtro" class="form-label">Filtro: </label>
            <input type="text" class="form-control" id="filtro" placeholder="Filtro">
        </div>
        <div class="mb-3">
            <label for="precioMinimo" class="form-label">Precio minimo: </label>
            <input type="text" class="form-control" id="precioMinimo" [(ngModel)]="precioMinimo" placeholder="Precio minimo">
        </div>
        <div class="mb-3">
            <label for="precioMaximo" class="form-label">Precio máximo: </label>
            <input type="text" class="form-control" id="precioMaximo" [(ngModel)]="precioMaximo" placeholder="Precio maximo">
        </div>

        <div class="mb-3">
          <label for="" class="form-label">Categoria - {{categoriaSeleccionada}}</label>
          <select [(ngModel)]="categoriaSeleccionada" class="form-select" aria-label="Default select example">
            <option [value]="''">Escoja una categoría</option>
            <option [value]="categoria" *ngFor="let categoria of categorias"> {{categoria}}</option>
          </select>
        </div>
        <button class="btn btn-primary w-100" (click)="filtrar()">Filtrar</button>
    </div>
    <div class="col-md-9">
        <button class="btn btn-success w-100 mb-3" [routerLink]="'/tienda/producto'"> Crear Producto </button>
        <ng-container *ngFor="let producto of productos">
            <div class="card mb-3" *ngIf="producto.price >= this.precioMin && producto.price <= this.precioMax">
                <div class="row g-0">
                  <div class="col-md-4 text-center p-3">
                    <img [src]="producto.image" class="img-fluid rounded-start" style="max-height: 12em;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ producto.title }}</h5>
                      <p class="card-text">{{ producto.description }}</p>
                      <p class="card-text"><small class="text-body-secondary">${{producto.price}}</small></p>
                      <button class="btn btn-danger" (click)="borrarProducto(producto.id!)">Borrar</button>
                      <button class="btn btn-primary" [routerLink]="'/tienda/producto/'+producto.id">Editar</button>
                    </div>
                  </div>
                </div>
              </div>
        </ng-container>
    </div>
</div>