<h3>Models</h3>
<div class="row">
    <div class="col-md-9">
        <p>Los modelos son clases/interfaces que representan la estructura de datos de nuestra aplicacion. Estos modelos nos ayudaran a mantener un mejor orden dentro de nuestra aplicacion.
        </p>
        <br>
        <p>Dependiendo de los convenios de la aplicacion (empresa) se pueden llamar .models , .entity, .dto, etc.... Pero lo importante saber que nosotros podemos aprovechar y llamarlos en cualquier parte de nuestra aplicacion con el fin de hacer actualizaciones de manera mas sencilla y organizada.</p>
    </div>
    <div class="col-md-3">
        <h4>Ejemplo:</h4>
        <br>
        <p>Visualizar en shared la carpeta de models</p>
    </div>
</div>