
<h1>Soy el componente hijo y me llame gracias al selector</h1>

<div class="container bg-secondary" style="height: 25em;">
    <h1>Soy el componente hijo y me llame gracias al selector</h1>
    <div class="row" style="height: 5em; background-color: chocolate;">
    </div>
    <!-- <div class="row" style="height: 5em; background-color: green;">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div> -->
    <div class="row">
        <div class="col-md-4" style="height: 5em; border: 3px solid black;"></div>
        <div class="col-md-4" style="height: 5em; border: 3px solid black;"></div>
        <div class="col-md-4" style="height: 5em; border: 3px solid black;"></div>
        <div class="col-md-1" style="height: 5em; border: 3px solid black;"></div>
    </div>

</div>